.replacementCheckboxHolder {
    display : inline-block;
    width: 2%;
}

.checkboxReplacement {
    display: inline-block;
}

.emptyCheckbox {
    border: 2px solid #000;
    height: 10px;
    width: 10px;
    cursor: pointer;
    transition: .3s;
    position: relative;
    top: 2px;
}

.emptyCheckbox.error {
    border-color: rgb(192, 0, 0)
}

.filledCheckbox, .filledCheckbox.error {
    top: -2px;
    width: 16px;
    height: 8px;
    border: 2px solid #0f9d58;
    border-top: none;
    border-right: none;
    opacity: 1;
    z-index: 888;
    transform: rotate(-66deg);
}